<template>
  <v-app>
    <MyHeader></MyHeader>
   <router-view/>
  </v-app>
</template>

<script>
import MyHeader from '@/components/header'
export default {
  
  name: 'App',
  components: {
    MyHeader
  }
}
</script>
