<template>
  <div id="idCard">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ currentCar.manufacturer }} {{ currentCar.model }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Car color : {{ currentCar.color }}</p>
    <p class="card-text">Car production year : {{ currentCar.year }}</p>

  </div>
</div>

  </div>
</template>
<script>
  import { FETCH_A_CAR } from '@/store/actionsTypes'
  import { mapGetters } from 'vuex'
  
export default {
    name: 'cardetails',
    computed: {
    ...mapGetters([
      'currentCar',
      'isLoading'
    ]),
    },
    data () {
      return {
      }
    },

    mounted () {
      console.log(this.$route.params.car_id);
      this.$store.dispatch(FETCH_A_CAR, this.$route.params.car_id)
      .then(() => {
      })
      .catch(() => {
        console.log('ERR : ', err);
      })
    },
    methods: {

  }
  }
</script>