<template>
  <div id="catList">
    
      <h1>List of Cars
           <router-link to="/create" >
           <button  type="button" class="btn btn-primary" data-toggle="modal" >ADD CAR</button></router-link>

        <router-view />
          
          </h1>
          &emsp;
              <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Color</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="car, i in cars">
                <th scope="row">{{ car.id }}</th>
                <th scope="row"><router-link :to="{ name: 'cardetails', params: {car_id: car.id} }">
                  <a>{{ car.model }}</a></router-link></th>
                <td>{{ car.manufacturer }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.year }}</td>                
                <td>
                  <router-link :to="{name: 'edit', params: { id: car.id }}">
                  <button class="btn btn-info" >Edit</button></router-link>
                  <button class="btn btn-danger"  v-on:click="deleteCar(car , i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
  </div>
  
</template>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script>

import { FETCH_CARS } from '@/store/actionsTypes'
import { mapGetters } from 'vuex'
import router from "../../router";
import axios from 'axios'
import Vue from 'vue'


export default {

  name: "Cars",
      computed: {
      ...mapGetters([
        'cars',
        'isLoading'
      ])
    },

  mounted() {
        this.$store.dispatch(FETCH_CARS)
      .then(() => {
      })
      .catch((err) => {
        console.log("ERR : ", err);
      })
  },

  methods: {
        deleteCar: function(id,i) {
            if (confirm('Delete ' + id.model)) {
                fetch("http://127.0.0.1:8000/cars/" + id,{
                  method: "DELETE"
                })
                    .then( response => {
                        console.log("Deleted")
                        
                        alert("Deleted, More than 35")
                        this.cars.splice(i,1)
                    });
            }
        },

        
  }
};
</script>
