<template>
    <div class="pt-5">
        <div v-if="!submitted">
        <form @submit.prevent="createCar" method="post">
            <div class="form-group">
                <label for="name">Model</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="car.model"
                    v-validate="'required'"
                    name="name"
                    placeholder="Enter model"
                    :class="{'is-invalid': errors.has('car.model') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>
            <div class="form-group">
                <label for="currency">Manufacturer</label>
                <input
                    type="text"
                    class="form-control"
                    id="currency"
                    v-model="car.manufacturer"
                    name="name"
                    placeholder="Enter manufacturer">
            </div>
            <div class="form-group">
                <label for="name">Color</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="car.color"
                    name="name"
                    placeholder="Enter color">
            </div>
            <div class="form-group">
                <label for="amount">Year</label>
                <input
                    type="number"
                    name="amount"
                    class="form-control"
                    id="amount"
                    v-model="car.year"
                    placeholder="Enter production year">
            </div>
             <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
    </div>
            <div v-else="">
            <h4>You submitted successfully!</h4>
            </div>

    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            car: {
                model: '',
                manufacturer: '',
                year: '',
                color: '',
            },
            submitted: false
        }
    },
    methods: {
        createCar: function (e) {
            var data = {
                model: this.car.model,
                manufacturer: this.car.manufacturer,
                color: this.car.color,
                year:this.car.year,
            };
 
            this.$validator.validate().then(result => {
                this.submitted = true;
                console.log(this.$session.getAll())
                if (!result) {
                    return;
                }
                axios
                    .post('http://127.0.0.1:8000/cars/',
                        this.car
                        
                    )
                    .then(response => {
                        this.$router.push('/');
                    })
            });
        }
    },
}
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>