<template>
    <div class="pt-5">
        <div v-if="!submitted">
        <form @submit.prevent="updateCar" method="post">
            <div class="form-group">
                <label for="name">Model</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="car.model"
                    name="name"
                    placeholder="Enter model">
            </div>
            <div class="form-group">
                <label for="name">Manufacturer</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="car.manufacturer"
                    name="name"
                    placeholder="Enter manufacturer">
            </div>
            <div class="form-group">
                <label for="name">Color</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="car.color"
                    name="name"
                    placeholder="Enter manufacturer">
            </div>
            <div class="form-group">
                <label for="amount">Year</label>
                <input
                    type="number"
                    name="amount"
                    class="form-control"
                    id="amount"
                    v-model="car.year"
                    placeholder="Enter production year">
            </div>
             <button v-on:click="updateCar" class="btn btn-primary">Submit</button>
    
    </form>
    </div>
            <div v-else="">
            <h4>Updated successfully!</h4>
            </div>

    </div>
</template>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script>
import axios from 'axios';


export default {
    data() {
        return {
            car: {
                model: '',
                manufacturer: '',
                color: '',
                year: '',
            },
            submitted: false,
            currentCar: {},
        }
    },

    mounted() {
        axios.get('http://127.0.0.1:8000/cars/' + this.$route.params.id)
            .then( response => {
                console.log(response.data)
                this.car = response.data
            });
    },
    methods: {
           getAuthToken(){
                return localStorage.getItem('access_token');
            },

        updateCar: function (e) {
            this.$validator.validate().then(result => {
                this.submitted = true;
                console.log(this.$session.getAll())
                const token = this.$session.get('token')
                console.log(token)
                if (!result) {
                    return;
                }
                axios
                    .put(`http://127.0.0.1:8000/cars/${this.car.id}/`,
                        this.car,
                        { headers: { Authorization: "Bearer " + token }}

                    )
                    .then(response => {
                        this.$router.push('/');
                    })
            });
        }
    },
}
</script>
