<template>
  <ul id="catList">
      <div class="description">
         <p> <a>Name {{ garage.name }} </a></p>
      </div>

  </ul>
</template>

<script>
import { FETCH_GARAGES } from '@/store/actionsTypes'
import { mapGetters } from 'vuex'
import router from "../../router";
export default {
  name: "Garages",
      computed: {
      ...mapGetters([
        'garages',
        'isLoading'
      ])
    },
  mounted() {
    this.checkLoggedIn();
        this.$store.dispatch(FETCH_GARAGES)
      .then(() => {
        console.log("YOUPI");
      })
      .catch((err) => {
        console.log("ERR : ", err);
      })
  },

  methods: {
    checkLoggedIn() {
      this.$session.start();
      if (!this.$session.has("token")) {
        router.push("/auth");
      }
    }
  }
};
</script>
