<template>

  <ul id="catList">
    <div v-for="garage in garages">
      <div class="card" style="width: 18rem;
    float: left;
    padding-right: 50px;
    margin-left: 200px;">
  <img src="https://techcrunch.com/wp-content/uploads/2019/06/buying-cars-online.png?w=730&crop=1" class="card-img-top" alt="..." style="width: 125%;">
  <div class="card-body">
    <h5 class="card-header">Gaarage Name : {{ garage.name }}</h5>
      <h5 class="card-title">Cars inside this Garage</h5>
    <p class="card-text">{{ garage.cars }}</p>
  </div>
</div>


    </div>
  </ul>
</template>

<script>
import { FETCH_GARAGES } from '@/store/actionsTypes'
import { mapGetters } from 'vuex'
import router from "../../router";
export default {
  name: "Garages",
      computed: {
      ...mapGetters([
        'garages',
        'isLoading'
      ])
    },
  mounted() {
    this.checkLoggedIn();
        this.$store.dispatch(FETCH_GARAGES)
      .then(() => {
        console.log("YOUPI");
      })
      .catch((err) => {
        console.log("ERR : ", err);
      })
  },

  methods: {
    checkLoggedIn() {
      this.$session.start();
      if (!this.$session.has("token")) {
        router.push("/auth");
      }
    }
  }
};
</script>
