<template>
  <header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#">Garages Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <router-link tag='li' :to="{ name: 'Garages'}">
          <a class="nav-link js-scroll-trigger">Home</a>
        </router-link>
        <router-link tag='li' :to="{ name: 'Cars'}">
          <a class="nav-link js-scroll-trigger">Cars</a>
        </router-link>
        </ul>
      </div>
    </div>
  </nav>
  </header>
</template>
<script>
export default{
  data () {
    return {
    }
  }
}

</script>
<style>
header {
  padding: 50px 0 100px;
}

section {
  padding: 50px 0;
}

</style>
